*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    overflow-x: hidden;
    overflow-y: auto;
    width: 100vw;
    height: 90vh;
   overflow: hidden;
}


.cabecalho{
    background-color: rgba(0, 0, 0, 0.922);
    max-width: 1400vw;
    min-width: 320px;
    max-width: 1400px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho .img-logo{
    width: 100px;
    margin-left: 33px;
   margin-bottom: 40px;
    
}

.cabecalho .menu  {
   display: flex;
  align-items: center;
    justify-content: center;
    padding-right: 15px;
    padding-bottom: 58px;
    font-weight: bold;
    font-family: poppins;
    

  
}

.cabecalho .menu li{
    list-style: none;
    text-transform: uppercase;

}

.cabecalho .menu li a{
    text-decoration: none;
    color: white;
    font-size: 22px;
    border-radius: 30px;
    padding: 15px 22px;
}

.cabecalho .menu li a:hover{
    background-color:#D5011D;
    width: 200px;
    
    
}

main{
    display: flex;
    background-color: rgba(0, 0, 0, 0.922);
    max-width: 1400px;
    height: calc(100vh - 190px);
    
    
    
}

.conteudo .logo{
    display:flex;
     width: 300px;
     height: 244px;
    justify-content: center;
    padding-left:35px;
    padding-bottom: 20px;
    margin-bottom: 40px;
  
    
   

}
.imgprincipal {
    justify-content: center;
    align-items: center;
    margin: 35px;

}

.imgprincipal:hover{
    scale: 1.05;
    cursor: pointer;
}

.conteudo p{
    font-weight: 100;
    font-family: poppins ;
    margin-top: -42px;
    padding-left: 38px;
    font-size: 17px;
    color: white;
    padding-bottom: 10px;
    
}

button{
    color: white;
    text-transform: uppercase;
    background-color:#FF0021;
    padding: 16px;
    margin-left:38px ;
    width: 150px;
}

button a{
    text-decoration: none;
    color: white;
    font-family: poppins;
    font-weight: bolder;
    transition: 0.5s all ease-in-out;
}

button:hover{
    transform: scale(1.1);
}

.fundo-video{
    background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0.434), black);  
    
}


.fundo-video .video{
    height: 100vh;
    width: 100vw;
    background-color: #0000008a;
    position: absolute;
    z-index: -1;
   width: 100vw;
   height: 100vh;
   overflow: hidden;
}

