*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image:linear-gradient(to right, black, rgba(0, 0, 0, 0.875),rgba(0, 0, 0, 0.890),rgba(0, 0, 0, 0.800),rgb(0, 0, 0));
}

main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main video{
    width: 800px;
    margin: auto;
}