@media (max-width: 1149px) {
    .saiba-mais #logo {
        visibility: hidden;
    }

    .siaba-mais {
        display: flex;
        align-items: flex-start;
    }

    main .local.container{
        margin: 0 50px;
    }

    main .local .container #img-section-localizacao{
        position: relative;
        top: 55px;
    }
}

@media (max-width: 983px) {
    img {
        width: 240px;
    }

    main .local .container #img-section-localizacao{
        margin-top: 20%;
        
    }
}


@media (max-width: 850px) {
     header .saiba-mais{
        margin-right: 10%;
     }

     header {
        width: 100%;
        display: flex;
        flex-direction: column;

     }

     header .cortes{
        display: flex;
        margin-left: -10px;
        
     }

     header .cortes .um-e-dois{
        width: 200px;
        height: 180px;
        margin-right: 20%;

     }

     header .cortes .treis-e-quatro{
        width: 200px;
        height: 180px;
     }

     main .local .container #img-section-localizacao{
       height: 50%;
    
      
     }

     main .local{
        margin-top: 10%;
        margin-right: 4%;
     }

     main .local .container {
        width: 100%;
        position: relative;
        top: 80vh;
        display: flex;
        flex-direction: column;
        
     }

  
}

    @media (max-width: 550px) {

    p{
         font-size: 18px;
        color: rgb(59, 14, 221);
        width: 400px;
    }

    header .cortes{
        margin-left: 0px;
       
    }

    header .saiba-mais{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header .cortes .um-e-dois img{
       width: 200px;
       height: 180px;
       margin-left: 3%;
       
    }

    header .cortes .treis-e-quatro img{
        width:200px;
        height: 180px;
        
    }

    main .local{
        padding: 20%;
        
    }

    main .local .container #img-section-localizacao img{
        width: 100vw; 
        
    }

    main .local .container button{
        height: 80px;
        width: 200px;
        font-size: 18px;
        
    }
}

@media(max-width:450px) {
    header .saiba-mais{
      margin-right: 30px;
    }

    header,main{
        width:100vw;
    }

    img{
        width: 80%;
    }

    main .local buton{
        height: 50%;
        padding: 0px;
        margin-top: 15%;
    }
}